/AbstractAnnotation.class
/AbstractXYAnnotation.class
/Annotation.class
/CategoryAnnotation.class
/CategoryLineAnnotation.class
/CategoryPointerAnnotation.class
/CategoryTextAnnotation.class
/TextAnnotation.class
/XYAnnotation.class
/XYAnnotationBoundsInfo.class
/XYBoxAnnotation.class
/XYDataImageAnnotation.class
/XYDrawableAnnotation.class
/XYImageAnnotation.class
/XYLineAnnotation.class
/XYPointerAnnotation.class
/XYPolygonAnnotation.class
/XYShapeAnnotation.class
/XYTextAnnotation.class
/XYTitleAnnotation.class
