/FontChooserDialogTest.class
/GradientPaintTransformTypeTest.class
/HorizontalAlignmentTest.class
/LayerTest.class
/RectangleAnchorTest.class
/RectangleEdgeTest.class
/RectangleInsetsTest.class
/Size2DTest.class
/StandardGradientPaintTransformerTest.class
/TextAnchorTest.class
/UIPackageTests.class
/VerticalAlignmentTest.class
