/CategoryDataset.class
/CategoryRangeInfo.class
/CategoryToPieDataset.class
/DefaultCategoryDataset.class
/DefaultIntervalCategoryDataset.class
/IntervalCategoryDataset.class
/SlidingCategoryDataset.class
