/Module.class
/Parameter.class
/Port.class
/Design.class
/NewDesign.class
/InterfacePort.class
/ModulePort.class
/Bundle.class
/Direction.class
/MyEnums.class
/Type.class
/PortType.class
/MyEnums$Direction.class
/MyEnums$PortType.class
/Port$Direction.class
/Port$PortType.class
/Translator.class
/DesignModule.class
/Noc.class
/MyEnums$TranslatorType.class
