/AWTPathProducer.class
/AWTPolygonProducer.class
/AWTPolylineProducer.class
/AbstractParser.class
/CSSConstants.class
/DefaultErrorHandler.class
/ErrorHandler.class
/ExtendedGeneralPath$EPI.class
/ExtendedGeneralPath.class
/ExtendedPathIterator.class
/NormalizingReader.class
/NumberParser.class
/ParseException.class
/Parser.class
/PathHandler.class
/PathParser.class
/PointsHandler.class
/PointsParser.class
/ShapeProducer.class
/StringNormalizingReader.class
