/CompositeTitle.class
/DateTitle.class
/ImageTitle.class
/LegendGraphic.class
/LegendItemBlockContainer.class
/LegendTitle.class
/PaintScaleLegend.class
/ShortTextTitle.class
/TextTitle.class
/Title.class
