/ClassDescription.class
/Comments.class
/DescriptionModel.class
/IgnoredPropertyInfo.class
/IndexedPropertyInfo.class
/KeyDescription.class
/ManualMappingInfo.class
/MappingModel.class
/MultiplexMappingInfo.class
/PrintBeanInfo.class
/PropertyInfo.class
/PropertyType.class
/TypeInfo.class
