/AttributeHandler.class
/BooleanAttributeHandler.class
/ByteAttributeHandler.class
/CharacterAttributeHandler.class
/DoubleAttributeHandler.class
/FloatAttributeHandler.class
/IntegerAttributeHandler.class
/LongAttributeHandler.class
/ShortAttributeHandler.class
/StringAttributeHandler.class
