/CategoryURLGenerator.class
/CustomCategoryURLGenerator.class
/CustomPieURLGenerator.class
/CustomXYURLGenerator.class
/PieURLGenerator.class
/StandardCategoryURLGenerator.class
/StandardPieURLGenerator.class
/StandardXYURLGenerator.class
/StandardXYZURLGenerator.class
/TimeSeriesURLGenerator.class
/URLUtilities.class
/XYURLGenerator.class
/XYZURLGenerator.class
