/BasicStrokeWriteHandler.class
/ColorWriteHandler.class
/FontWriteHandler.class
/GenericWriteHandler.class
/GradientPaintWriteHandler.class
/InsetsWriteHandler.class
/ListWriteHandler.class
/Point2DWriteHandler.class
/Rectangle2DWriteHandler.class
/RenderingHintsWriteHandler.class
