/DefaultModelReader.class
/DescriptionGenerator.class
/JavaSourceCollector$CollectorFileFilter.class
/JavaSourceCollector.class
/ModelBuilder.class
/ModelWriter.class
/SourceCollector.class
/SplittingModelWriter.class
